<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
    <link rel="stylesheet" href="/css/orders.css">
</head>
<body>
    <header>
        <nav class="header-nav">
            <ul class="nav-list">
                <% if (user.profile_photo) { %>
                    <li><a href="/user/profile">
                        <img src="<%= user.profile_photo %>" alt="Profile Photo" class="profile-image"> Profile
                    </a></li>
                <% } else { %>
                    <li><a href="/user/profile">
                        <img src="/images/default-profile.png" alt="Profile Photo" class="profile-image"> Profile
                    </a></li>
                <% } %>
                <li><a href="/products">Products</a></li>
                <li><a href="/user/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>My Orders</h1>
        <button onclick="clearOrderHistory()" class="btn clear-history-btn">Clear Order History</button>
        <% orders.forEach(order => { %>
            <div class="order">
                <h2>Order ID: <%= order.id %></h2>
                <p>Total Price: Ksh. <%= order.totalPrice %></p>
                <p>Status: <%= order.status %></p>
                <h3>Products:</h3>
                <ul class="product-list">
                    <% order.products.forEach(item => { %>
                        <li class="product-item">
                            <img src="<%= item.imageUrl %>" alt="<%= item.name %>" class="product-image">
                            <span class="product-name"><%= item.name %></span> - Quantity: <span class="product-quantity"><%= item.quantity %></span>
                        </li>
                    <% }) %>
                </ul>
                <p>Address: <%= order.address %></p>
                <p>Pickup Point: <%= order.pickupPoint %></p>
                <p>Delivery Date: <%= new Date(order.deliveryDate).toLocaleString() %></p>
            </div>
        <% }) %>
    </div>
    <script src="/js/cart.js"></script>
</body>
</html>
